<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
</head>
<body>
    
    <h1>Prueba, prueba</h1>
    <p>
      Nombre: {{Nombre}}
      Apellido: {{Apellido}}
    </p>
    <p>
      Fecha: {{Fecha}}
    </p>

    <img
    style="max-width: 300px;"
      src="https://images.pexels.com/photos/270404/pexels-photo-270404.jpeg?cs=srgb&dl=pexels-pixabay-270404.jpg&fm=jpg"
      alt=""
    />


</body>
</html>